<ion-header>
  <ion-toolbar>
    <ion-title>AskMe</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="fondo">
  <ion-card>
    <ion-card-header>
      <ion-icon name="remove-circle" size="large" color="warning" *ngIf="!consulta.cerrado"></ion-icon>
      <ion-icon name="checkmark-circle" size="large" color="success" *ngIf="consulta.cerrado"></ion-icon>
      <ion-card-subtitle>{{nombre}}</ion-card-subtitle>
      <ion-card-title>{{consulta.titulo}}</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      {{consulta.consulta}}
    </ion-card-content>
    <ion-item lines="none">
      <ion-button *ngIf="!consulta.cerrado && consulta.id_usuario === '1'" fill="outline" slot="end" color="danger" (click)="cerrarConsulta()">Cerrar Consulta</ion-button>
    </ion-item>
  </ion-card>
  
  <ion-item lines="none">
    <ion-icon name="pin" slot="start" class="icon-res"></ion-icon>
    <ion-label>Respuestas</ion-label>
    <ion-button fill="outline" slot="end" (click)="presentAlertPrompt()">Responder</ion-button>
  </ion-item>
  <ion-card *ngIf="tamano===0">
    <ion-item>
      <ion-label class="ion-text-wrap">
        <ion-text>
          <p>No existen respuestas para esta consulta porfavor vuelve mas tarde</p>
        </ion-text>
      </ion-label>
    </ion-item>
  </ion-card>
  <div *ngFor="let respuesta of respuestas">
    <ion-card>
      <ion-item lines="none">
        <ion-avatar slot="start">
          <img src="https://w7.pngwing.com/pngs/831/88/png-transparent-user-profile-computer-icons-user-interface-mystique-miscellaneous-user-interface-design-smile.png" />
        </ion-avatar>
        <ion-label class="ion-text-wrap">
          <ion-text color="primary">
            <h3>{{nombreId(respuesta.id_usuario)}}</h3>
          </ion-text>
          <p>{{respuesta.titulo}}</p>
          <ion-text>
            <p>{{respuesta.respuesta}}</p>
          </ion-text>
        </ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-button slot="end" fill="outline" color="secondary" (click)="presentAlertPromptComent(respuesta.id_respuesta)">Comentar</ion-button>
      </ion-item>
    </ion-card>
    <ion-list>
      <ion-item lines="none">
        <ion-card>
          <ion-item *ngFor="let comentario of comentariosId(respuesta.id_respuesta)" lines="none">
            <ion-label>
              <ion-text color="primary">
                <h3>{{nombreId(comentario.id_usuario)}}</h3>
              </ion-text>
              <p>
                {{comentario.comentario}}
              </p>
            </ion-label>
            <ion-avatar slot="start">
              <img src="https://w7.pngwing.com/pngs/831/88/png-transparent-user-profile-computer-icons-user-interface-mystique-miscellaneous-user-interface-design-smile.png" />
            </ion-avatar>
          </ion-item>
        </ion-card>
      </ion-item>
    </ion-list>
  </div>
  </div>
</ion-content>
