ion-header ion-toolbar{
    color: white;
}

ion-content ion-card{
    background-color: #ffffff;
}

ion-card-header ion-card-title{
    color: black;
}

.icon-res{
    color: black;
}

.fondo{
    background-color: rgb(236, 236, 236);
    padding: 1rem 0rem;
}

.fondo2{
    background-color: rgb(179, 179, 179);
}

