<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>mis</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-text>
        <h2>Tus consultas</h2>
      </ion-text>
    </ion-item>
    <ion-item *ngFor="let consulta of consultas" [routerLink]="['/revision',user,consulta.id_consulta]">
      <ion-label>
        {{consulta.titulo}}
      </ion-label>
      <ion-icon name="remove-circle" slot="start" color="warning" *ngIf="!consulta.cerrado"></ion-icon>
      <ion-icon name="checkmark-circle" slot="start" color="success" *ngIf="consulta.cerrado"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
