<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      AskMe
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="presentAlertPrompt()">
        <ion-icon size="large" name="create"></ion-icon>
      </ion-button>
      <ion-button [routerLink]="['/home',user,'mis']">
        <ion-icon size="large" name="chatbubble"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">AskMe</ion-title>
      <ion-buttons slot="primary">
        <ion-button (click)="presentAlertPrompt()">
          <ion-icon size="large" name="add"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
    
    
  </ion-header>
  <!--<form [formGroup]="ionicForm" (ngSubmit)="onSubmit()" >
    <ion-searchbar inputmode="text" formControlName="buscador"></ion-searchbar>
    <ion-list>
      <ion-item lines="none">
        <ion-button color="success" type="submit">Buscar</ion-button>
        
      </ion-item>
    </ion-list>
  </form>-->
  <ion-img src="assets/lg1.png"></ion-img>
  <ion-searchbar color="medium" inputmode="text" [(ngModel)]="texto"></ion-searchbar>
  <ion-item lines="none">
    <ion-button color="success" [routerLink]="['/consulta',user,texto]">Consultar</ion-button>
  </ion-item>
  
</ion-content>

<ion-footer class="ion-no-border">
    <ion-item lines="none">
      <ion-button color="danger" routerLink='/login'>Cerrar Sesion</ion-button>
    </ion-item>
</ion-footer>