<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Easysolution
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Easysolution</ion-title>
    </ion-toolbar>
  </ion-header>
  <!--<form [formGroup]="ionicForm" (ngSubmit)="onSubmit()" >
    <ion-searchbar inputmode="text" formControlName="buscador"></ion-searchbar>
    <ion-list>
      <ion-item lines="none">
        <ion-button color="success" type="submit">Buscar</ion-button>
        
      </ion-item>
    </ion-list>
  </form>-->
  <ion-searchbar inputmode="text" [(ngModel)]="texto"></ion-searchbar>
    <ion-button color="success" [routerLink]="['/consulta',texto]">Buscar</ion-button>
  <ion-item lines="none">
    
    
  </ion-item>
  <ion-button color="warning" (click)="presentAlertPrompt()">Cree una pregunta</ion-button>
  <ion-item lines="none">
    
  </ion-item>
  

  <ion-button color="danger">Salir</ion-button>
  
</ion-content>
